@model BookStore.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<div class="container-fluid">
    <h1>Customer Details</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Surname)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>
                    </dl>
                </div>
            </div>

            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div> 